.data {
  color: white;
}

.content {
  overflow: scroll;
  min-height: 20rem;
  border: 1px solid white;
}

.block {
  min-width: 1.5rem;
  background-color: white;
  text-align: center;
  align-self: flex-end;
}
